*{
  margin:0;
  padding:0;
}


.navbar{
  background-color: black;
  height: 7vh;
  width: 100vw;
}
.a{
 
  text-align: center;
  margin:none;
  width: 100vw;

}

.mid{
  height: 50vh;
  width: 100vw;
  background-color: #1C1B1C;
  float: right;
  margin-top:-10px;
  margin-left: 10px;;
}

.a img{
  height: 70vh;
  width: 100vw;
  filter: brightness(50%);

  
}

h2{
  position: absolute;
  top: 50%;
  left:50%;
   transform: translate(-50%, -50%);
  color: white;
  font-size: 4em;
  border: 5px solid white;
  
}





ul{
  display:inline;
  list-style-type: none;
  text-decoration:none;
  
}

li{
  float: left;
  color: white;
  font-weight: bold;
  padding: 10px 10px;
  text-align: center;
}

li a{
  text-decoration: none;
  display: block;
  padding:14px 16px;
}